{% extends 'app.html' %}

{% load static %}

{% block content %}
{% include 'partials/topbar.html' %}
{% endblock content %}


{% block custom_js %}
<script>
    $('#clock').clock({
        "langSet": "id"
    });
</script>
<script>
    function printDiv(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

    }
</script>
{% endblock custom_js %}