{% extends '../app.html' %}
{% load static %}

{% block content %}
<div class="bg-primary h-100 d-flex align-items-center">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-9 text-white">
                <div class="text-center py-3">
                    <h3 class="font-weight-bold">Login Operator</h3>
                </div>
                <div class="card-header rounded bg-success">
                    <div class="card-body justify-content-between">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/logo.png' %}" class="img-fluid w-100"></div>
                            <div class="col-sm-6 text-center d-flex align-items-center">
                                <div>
                                    <p>CV. USAHA MAJU BERSAMA</p>
                                    <p>Alamat: Desa Blang Luah, Kac. Darul Makmur, Kab. Nangan Raya, Prov. Aceh</p>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static 'img/logo.png' %}" class="img-fluid w-100"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
                            {% if next %}
                                {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                                {% else %}
                                <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="username" class="col-sm-6 col-form-label">Username</label>
                                    <div class="col-sm-6">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Password</label>
                                    <div class="col-sm-6">
                                        {{ form.password }}
                                    </div>
                                </div>
                                <input type="hidden" name="next" value="{{ next }}">
                                <div class="form-group py-3 text-center">
                                    <button type="submit" class="btn btn-success btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}